name: CI/CD Self-Hosted

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t ofcan1010/simple-devops-pipeline:latest .

      - name: Push Docker image
        run: |
          docker push ofcan1010/simple-devops-pipeline:latest

      - name: Deploy with Docker Compose
        run: |
          docker compose pull
          docker compose up -d
